body {
    font-family: serif;
    color: #ac88e3;
    background-color: black;
    font-size: xx-large;
}
#dice-para {
 font-size: 60px;   
}

button {
    display: block;
   
}

div {
    border: 5px solid #fcc2dc;
    margin-bottom: 8px;
    background-color: black;

}